@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: #f5f5dc;
}

body {
    background-color: #e1c699;   
}

/* Encabezado */
header {
    background-color: #a9957b;
    text-align: left;
    padding: 1rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
}

header img {
    width: 30%;
    background-color: white;
    border-radius: 10%;
    border: 1px solid #F2A900;
}

header ul{
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

header ul li{
    transition: 200ms;
    font-style: italic;
}

header ul li:hover{
    transform: scale(1.2);
}

/*titulos*/

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    color: #F2A900;
    font-weight: bold;

}

/* Secciones */
section {
    margin: 20px;
}

/* Listas */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/*Presentación*/
.resumen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    text-align: justify;
}

.resumenTexto{
    display: flex;
    background-color: #a9957b;
    color: white;
    justify-content: space-between;
    border-radius: 5px;
    transition: 200ms;
}

.resumenTexto:hover{
    background-color: #8c6B4A;
    transform: translateY(-3px);
    -webkit-box-shadow: 20px 25px 0px -6px rgba(242, 169, 0);
    -moz-box-shadow: 20px 25px 0px -6px rgba(242, 169, 0);
    box-shadow: 20px 25px 0px -6px rgba(242, 169, 0);
}

.perfil img{
    width: 50%;
}

/* Personalización */
.destacado {
    color: #F2A900;
    font-weight: bold;
}

/* Enlaces */

a:hover {
    text-decoration: underline;
    color: #8c6B4A;
}

/* Estilos tarjetas */
.cards-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card{
    flex-direction: column;
    align-items: center;
    background-color: #a9957b;
    width: 35rem;
    height: 35rem;
    padding: 2rem 2rem;
    margin: 2.5rem;
    border-radius: 10px;
    box-sizing: border-box;
}

.card-image-container{
    width: 50%;
}

.card-image-container img{
    width: 100%;
    border-radius: 5px;
}

.card-info{
    width: 80%;
}

.card-info h1{
    font-size: 30px;
    font-style: italic;
}

.card-info p{
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
}

.card button{
    width: 8rem;
    border: 1px solid white;
    background-color: black;
    border-radius: 100vw;
    padding: 0.5rem 1rem;
    transition: 200ms;
    font-style: italic;
    font-weight: 500;
    align-self: flex-end;
}

.card button:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #8c6B4A;
}

/*Pie de página*/
footer {
    background-color: #a9957b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.links-containers{
    display: flex;
    gap: 3.5rem;
}

.links-container li{
    width: 4rem;
}

.links-containers li:hover{
    text-decoration: underline;
    cursor: pointer;
}


.links-container a{
    width: 5%;
    transition: 200ms;
}
.links-container img{
    filter: invert(100);
    width: 5%;
}

.links-container img:hover{
    transform: scale(1.1);
}