body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #00274C; 
    color: #FFFFFF;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

header img {
    width: 30%;
    margin-bottom: 20px;
}

.section-gif {
    text-align: center;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

/* Secciones */
section {
    margin-bottom: 30px;
}

/* Listas */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Enlaces */
a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Personalización */
.destacado {
    color: #F2A900;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}