@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  background-color: #d5b7d8;
  font-family: 'Montserrat';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.password-display {
    display: flex;
    margin-bottom: 15px;
}

#password {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#copy-btn {
    background-color: purple;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.settings {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input[type="number"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.strength {
    margin-bottom: 15px;
}

.strength-bar {
    background-color: #ddd;
    height: 8px;
    border-radius: 4px;
    margin-top: 5px;
}

#strength-level {
    height: 100%;
    border-radius: 4px;
    width: 50%;
    background-color: orange;
}

#generate-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}